{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "babel"
  ],
  "rules": {
    "new-cap": 0,
    "babel/new-cap": 2,
    "object-curly-spacing": [2, "always"],
    "camelcase": 1,
    "func-names": 0
  }
}
