{
  "parser": "babel-eslint",
  "extends": "airbnb",
  "plugins": [
    "babel"
  ],
  "rules": {
    "new-cap": 0,
    "babel/new-cap": 2,
    "camelcase": 1,
    "func-names": 0,
    "no-param-reassign": [2, {"props": false}]
  }
}
